@media screen and (max-width: 600px) { 
    .window-pane-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (min-width: 601px) { 
    .window-pane-main {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}


.window-pane {
    /* background-color: yellow; */
}

.window {
    margin: 0.5rem
}


section {
    display: flex;
    flex-direction: column;
}

.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.standard-dialog {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin-bottom: 1rem;
}

.link-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link-buttons .btn {
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 8px;
}