.myphoto img {
  width: 100%;
}

.title a {
  color: black;
  text-decoration: none;
}

.title a:hover {
  color: #fff;
  background-color: #000;
}

figcaption {
  padding: 0.5em;
  text-align: center;
  padding-bottom: 2em;
}

@media only screen and (min-width: 1368px) {
  .myphoto {
    padding: 0em 6em 0em 6em;
  }
}

@media only screen and (max-width: 1367.99px) {
  .myphoto {
    padding: 0em 4em 0em 4em;
  }
}

@media only screen and (max-width: 992px) {
  .myphoto {
    padding: 0;
  }
}

@media only screen and (max-width: 576px) {
  .myphoto {
    padding: 0;
  }
}
